html,
body {
    margin: 0px;
    padding: 0px;
}

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    background-color: #f3cf98;
}

header {
    width: auto;
    height: 10%;
    /* background-color: green; */
}

#intro {
    /* border-radius: 10px; */
    background-color: #ece6cc;
    display : flex;
    color: black;
    justify-content: center;
    align-items : center;
}

main {
    width: auto;
    height: 87%;
    /* background-color: skyblue; */
}

footer {
    /* 현재 배경색은 구분을 위한 용도 */
    background-color: #ece6cc;
    width: auto;
    height: 3%;
    display : flex;
    justify-content: center;
    align-items : center;
}

#list_div {
    width: 50px;
    height: 50px;
    color: black;
    border-width: 1px;
    border-radius: 5%;
    border: #2F4858 solid;
}

#copyright_div{
    color: black;
    width: auto;
    display : flex;
}

#addListButton{
    width: 30px;
    height: 30px;
}

/* #id_div {
    background-color: aqua;
} */