html,
body {
    margin: 0px;
    padding: 0px;
}

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    /* background-color: lightyellow; */
}

header {
    width: auto;
    height: 20%;
    /* background-color: green; */
}

main {
    width: auto;
    height: 75%;
    /* background-color: skyblue; */
}

footer {
    /* 현재 배경색은 구분을 위한 용도 */
    background-color: brown;
    width: auto;
    height: 5%;
    display : flex;
    justify-content: center;
    align-items : center;
}